@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-form-img {
  margin-bottom: 45px;
}

.formbold-input-group {
  margin-bottom: 18px;
}

.formbold-form-select {
  width: 100%;
  padding: 12px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}

.formbold-input-number-wrapper {
  margin-bottom: 25px;
}
.formbold-radio-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formbold-radio-label {
  font-size: 14px;
  line-height: 24px;
  color: #07074d;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formbold-input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.formbold-radio-checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #dde3ec;
  border-radius: 50%;
}
.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark {
  background-color: #6a64f1;
}
.formbold-radio-checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark:after {
  display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder {
  color: #536387;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074d;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-input-number-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.add-btn,.remove-btn{
    padding: 1px 7px;
    font-size: 15px;
}

.quantity{
    margin-bottom: 10px;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns all children (including the logo) to the right */
    width: 100%;
    top: 0;
    z-index: 2;
}

.Logo {
    max-width: 10%;
    border-radius: 40px;
    margin-left: auto; /* Ensures the logo is pushed to the right */
}

.header-content {
    display: flex;
    align-items: center;
}

.home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #636274;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.home-btn i, .home-icon {
    margin-right: 8px;
}

.home-btn:hover {
    background-color: #3b82f6;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}


/* The modal (hidden by default) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px; /* Increased padding for height */
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; /* Increased max width */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for better visibility */
}

/* Modal message */
.modal-content p {
    font-size: 18px; /* Increased font size */
    line-height: 1.5; /* Added line height for better readability */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
