body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.signup-header {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-box {
    background-color: white;
    padding-right: 73px;
    padding-left: 71px;
    padding-top: 58px;
    padding-bottom: 89px;
    border-radius: 10%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.form-group input[type="name"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 38px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 16px;
}

.radio-group label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

.form-links-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 56px;
}

.form-links-column a {
    font-size: 14px;
    color: #4f46e5;
    text-decoration: none;
    margin-bottom: 10px;
}

.form-links-column a:hover {
    color: #3b82f6;
}

.signup-button {
    width: 100%;
    padding: 10px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}

.signup-button:hover {
    background-color: #3b82f6;
}



/* The modal (hidden by default) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px; /* Increased padding for height */
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; /* Increased max width */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for better visibility */
}

/* Modal message */
.modal-content p {
    font-size: 18px; /* Increased font size */
    line-height: 1.5; /* Added line height for better readability */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
