body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 80px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.page-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Order cards container */
.order-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Order card */
.order-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-align: center;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Product info */
.product-info {
    margin: 15px 0;
}

.product-name {
    font-size: 22px;
    font-weight: bold;
    color: #636274;
    margin-bottom: 10px;
}

.product-quantity {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
}

/* Responsive design */
@media (max-width: 768px) {
    .order-cards {
        flex-direction: column;
        align-items: center;
    }

    .order-card {
        width: 100%;
    }
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.Logo {
    max-width: 10%;
    border-radius: 40px;
    margin-left: auto; /* Ensures the logo is pushed to the right */
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.home-btn {
    padding: 10px 20px;
    background-color: #636274;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.home-btn i, .home-icon {
    margin-right: 8px;
}

.home-btn:hover {
    background-color: #3b82f6;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 26px;
  }